@model ITS.ToDoList.Web.Models.MyListViewModels.IndexViewModel
@{
}

<div ng-app="myApp" ng-controller="myListController as ctrl">


    <a asp-controller="MyList" asp-action="Insert" class="btn btn-default">Nuova attivit&agrave;</a>
    <a asp-controller="Categories" asp-action="Insert" class="btn btn-default">Nuova categoria</a>

    <hr />

    <form asp-action="Index" asp-controller="MyList" method="post">
        <div class="row">
            <div class="col-sm-10">
                <input type="text" name="filterText" value="@Model.Filters.FilterText" />
            </div>
            <div class="col-sm-2">
                <input type="submit" value="Cerca" class="btn btn-default" />
            </div>
        </div>
    </form>

        <hr />

        @foreach (var item in Model.Items)
        {
            <div class="row">
                <div class="col-sm-8">
                    <h2>
                        @Html.DisplayFor(m => item.Completed)

                        @item.Title
                    </h2>
                </div>
                <div class="col-sm-4">
                    @item.CreationDate.ToString("dd MMMM yyyy")
                    <br />
                    @item.User
                </div>
            </div>
            @if (item.CategoryId != null)
            {
                <div class="row">
                    <div class="col-sm-12">
                        @item.CategoryName (@item.CategoryDescription)
                    </div>
                </div>
}
            <div class="row">
                <div class="col-sm-8">
                    <p>@item.Content</p>
                </div>
                <div class="col-sm-4">
                    <a asp-controller="MyList"
                       asp-action="Update"
                       asp-route-id="@item.Id" class="btn btn-warning">Modifica</a>

                    @if (!item.Completed)
                    {
                        <button type="button" class="btn btn-primary" ng-click="ctrl.setCompleted(@item.Id)">Completato</button>
}
                </div>
            </div>
            <hr />
        }

    </div>



@section scripts{

    <script src="~/js/myListController.js" asp-append-version="true"></script>

}