@model ITS.ToDoList.Web.Models.MyListViewModels.InsertViewModel
@{
}

<h1>Inserimento di un nuovo elemento</h1>

<form asp-action="Insert" asp-controller="MyList" method="post">

    <div class="row">
        <div class="col-sm-12" asp-validation-summary="ModelOnly"></div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <label asp-for="@Model.Title"></label>
        </div>
        <div class="col-sm-9">
            <input asp-for="@Model.Title" class="form-control" />
            <span asp-validation-for="@Model.Title"></span>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3">
            <label asp-for="@Model.Content"></label>
        </div>
        <div class="col-sm-9">
            <textarea asp-for="@Model.Content" cols="40" rows="5" class="form-control"></textarea>
            <span asp-validation-for="@Model.Content"></span>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3">
            <label asp-for="@Model.CategoryId"></label>
        </div>
        <div class="col-sm-9">
            <select asp-for="@Model.CategoryId" asp-items="@Model.Categories">
                <option value="" >seleziona una categoria</option>
            </select>
            <span asp-validation-for="@Model.Content"></span>
        </div>
    </div>


    <input type="submit" value="Salva" class="btn btn-primary"/>
    <a asp-action="Index" asp-controller="MyList" class="btn btn-default">Annulla</a>
</form>